$white: #FFFFFF;
$black: #000000;
$background-orange: linear-gradient(72.85deg, #D9547B 0%, #F8AD48 100%); // >25°C
$background-purple: linear-gradient(72.85deg, #71376E 0%, #F8AD48 100%); // 10°C - 25°C
$background-blue: linear-gradient(72.85deg, #1DA9C2 0%, #F8AD48 100%); // < 10°C