// typo style
p, span {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: $white;
}
p {
  font-size: 40px;
  line-height: 120%;
}
span {
  font-size: 16px;
  line-height: 150%;
}

.active {
  color: $black;
  font-weight: 400;

}